{% extends "layout.html" %}

<!-- title -->
{% block title %} Recommendation: {{ recommendation_title }} {% endblock %}

<!-- Main Body -->
{% block main %} {% if session["user_id"] %} {% for i in range(3) %}
<h1 class="recipe-title" style="font-size: 40px; padding-bottom: 5vh">
    Recommendation {{ i + 1 }}: {{ recommendation_title[i] }}
</h1>
<div class="list-group">
    <a class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Time Required</h5>
            <small>Just now</small>
        </div>
        <p class="mb-1">Minutes: {{ recommendation_time[i] }}</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Serving Size</h5>
            <small class="text-muted">Just now</small>
        </div>
        <p class="mb-1">Servings: {{ recommendation_servings[i] }}</p>
    </a>
    <a
        href="{{ recommendation_source }}"
        class="list-group-item list-group-item-action"
    >
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Extra Information</h5>
            <small class="text-muted">EXTRA!</small>
        </div>
        <p class="mb-1">
            Link for more information: {{ recommendation_source[i] }}
        </p>
    </a>
</div>
{% endfor %}
<br />
<br />
<hr />
<br />

{% else %}
<h2 class="no-access-warning-txt">
    To access this page, either <a href="/register">register</a> or
    <a href="/login">login</a>.
</h2>
<br />
<br />
<hr />
<br />
{% endif %} {% endblock %}
