{% extends "layout.html" %}

<!-- title -->
{% block title %} Register {% endblock %}

<!-- Main Body -->
{% block main %}
<form action="/register" method="POST">
    <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <div class="form-floating">
            <input 
                name="username"
                type="text" 
                class="form-control" 
                id="floatingInputGroup1" 
                placeholder="Username"
            />
            <label for="floatingInputGroup1">Username</label>
        </div>
    </div>
    <div class="form-floating">
        <input
        name="password"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
        <input     
            name="confirmation"
            type="password"
            class="form-control"
            id="floatingConfirmation"
            placeholder="Password"
        />
        <label for="floatingConfirmation">Confirmation</label>
    </div>
</form>

<br />
<hr />
<br />
    {% endblock %}
</form>
