<!-- extending layout -->
{% extends "layout.html" %}

<!-- title -->
{% block title %} Search THE COOKBOOK {% endblock %}

<!-- main -->
{% block main %}

<div class="background-image"></div>

<div class="greeting">&nbspSearch Recipes&nbsp</div>

<!-- search box -->
<form action="/result" method="POST">
    <div class="container-search">
        <div class="search-box">
            <input
                type="text"
                class="search-input"
                name="search"
                autocomplete="off"
                placeholder="Search.."
            />

            <button class="search-button" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>
{% endblock %}
